@model IEnumerable<ProyectoLibreria.Models.Entidades.Libro>
@{
    ViewData["Title"] = "Lista";
}

@if (TempData["ALertMessage"] != null)
{
    <div class=" alert alert-success">
        <strong> Ok!!---</strong>@TempData["AlertMessage"]
    </div>
}

<p>
    <a onclick="showInPopup('@Url.Action("Crear", "Libros",
    new { id = 0 }, Context.Request.Scheme)' ,
    '')" class="btn btn-sm btn-primary text-white">
        <i class="fa fa-plus-circle"></i> Agregar un libro
    </a>
</p>

<div class="col-md-12">
    <div class="card">
        <div class=" card-header text-center">
            <h5>Lista de Libros</h5>
        </div>
        <div class=" card-body">
            <table id="libro" class="table table-hover table responsive table stripped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Titulo</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Año</th>
                        <th scope="col">Autor</th>
                        <th scope="col">Categoria</th>
                        <th scope="col">Editorial</th>
                        <th scope="col">Fecha Del Registro</th>
                        <th scope="col">Imagen</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <th scope="row">@item.IdLibro</th>
                            <td> @Html.DisplayFor(modelItem => item.Titulo)</td>
                            <td> @Html.DisplayFor(modelItem => item.Precio)</td>
                            <td> @Html.DisplayFor(modelItem => item.year)</td>
                            <td> @Html.DisplayFor(modelItem => item.AutorId)</td>
                            <td> @Html.DisplayFor(modelItem => item.CategoriaId)</td>
                            <td> @Html.DisplayFor(modelItem => item.EditorialId)</td>
                            <td> @item.FechaRegistro.ToString("dd-MM-yyyy") </td>
                            <td>
                                <img src="@Html.DisplayFor(modelItem => item.URLImagen)" style="width: 200px; height: 200px;" />
                            </td>
                            <td>
                                <a onclick="showInPopup('@Url.Action("Editar", "Libros",
                                new { id = item.IdLibro }, Context.Request.Scheme)' ,
                                  'Actualizar Libro')" class="btn btn-outline-warning btn-sm">
                                    <i class="fa fa-pencil-alt"></i>
                                </a>
                                <button data-id="@item.IdLibro"
                                        class="btn btn-outline-danger btn-sm deleteItem"
                                        data-bs-toggle="modal"
                                        data-bs-target="#deleteDialog">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<partial name="_MostrarModal" />
<partial name="_ModalEliminar" />


@section Scripts {

    <script src="~/js/showmodal.js"></script>

    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#libro').DataTable(
                {
                    "language": {
                        url: "https://cdn.datatables.net/plug-ins/1.11.5/i18n/es-ES.json"
                    },
                });
        });
    </script>

    <script>
        sc_deleteDialog.openModal('deleteItem', true, 'btnYesDelete', '/Libros/Eliminar/', false);
    </script>
}

